foo.csv
*.png
Book1.xlsx
__pycache__/
frame_99990.pdb.gz
model_dnn_2LR.keras
preprocessing_Clustering.sh
temp.txt
pdb_files/
*.npy
sequence_1J4N.txt
test_bash.sh
*.json
results/
sequence_1UBQ.txt
side_chain_model.keras
*.pdb
images_draw.drawio
model_test_1D_conv.keras
model_test_1D_conv_sideChain.keras
tmp_xyz.xyz
